<h1>掃除当番を決めよう！</h1>
<p id="notice"><%= notice %></p>

<table id="myentry" class="table table-striped">
  <% @members.each do |member| %>
    <tr>
      <% case member.status %>
      <% when 'entry' %>
        <td>エントリーしました</td>
      <% when 'doit' %>
        <td>やります！</td>
      <% when 'pass' %>
        <td>パスします</td>
      <% end %>
      <td><%= member.name %></td>
    </tr>
  <% end %>
</table>

<%= button_to 'ここをクリックしてください！',  { action: 'lottery' }, { class: 'btn btn-info'} %>
