<h1>掃除当番を決めよう！</h1>
<p id="notice"><%= notice %></p>

<table id="myentry" class="table table-striped">
  <% @members.each do |member| %>
    <tr>
      <td>エントリーしました</td>
      <td><%= member.name %></td>
    </tr>
  <% end %>
  <% @decision_members.each do |decision_member| %>
    <tr>
      <td>やります！</td>
      <td><%= decision_member.name %></td>
    </tr>
  <% end %>
</table>

<%= button_to 'ここをクリックしてください！',  { action: 'lottery' }, { class: 'btn btn-info'} %>
